 
  
<img  src="../../../../assets/images/nightcityline100.jpg" class="center"><img/>

<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<h2>?</h2>
<h3>Navigate to Customers in Navigation bar to manage Cutomers</h3>
<div class="images">
  
<img  class="map"  src="../../../../assets/images/graph.png" ><img/>
<p>My left donut is missing, as is my right howl on top of tall thing human is behind a closed door,
     emergency! abandoned! meeooowwww!!!
      so swipe at owner's legs yet human is washing you why halp oh the horror flee scratch hiss bite.
       Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation 
       milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap
        i'm bored inside, let me out i'm lonely outside, let me in i can't make up my mind whether to go in or out,
         guess i'll just stand partway in and partway out, contemplating the universe for half an hour
          how dare you nudge me with your foot?!?! leap into the air in greatest offense! put butt in owner's face.
           Bite the neighbor's bratty kid drink water out of the faucet.
            Meow in empty rooms soft kitty warm kitty little ball of furr meowwww, 
            find empty spot in cupboard and sleep all day sun bathe, kitty ipsum dolor sit amet,
             shed everywhere shed everywhere stretching attack your ankles chase the red dot,
              hairball run catnip eat the grass sniff. Destroy couch sniff sniff meow, 
              love blinks and purr purr purr purr yawn and murr i hate humans they are so annoying 
              or cat milk copy park pee walk owner escape bored tired cage droppings sick vet vomit what a
               cat-ass-trophy!. </p>
</div>
 